.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 20%;
    height: var(--height_nav);
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    background-color: #fff;
    z-index: 10;
    .search_box{
        display: flex;
        align-items: center;
        gap: 8px;
        border: 1px solid #ccc;
        padding: 0 4px;
        border-radius: 4px;
        input{
            border: none;
        }
    }
    .right_box{
        display: flex;
        align-items: center;
        gap: 32px;
        .language{
            display: flex;
            align-items: center;
            gap: 8px;
        }
        .user_img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid #ccc;
        }
        .right_item{
            position: relative;
            .count{
                width: 20px;
                height: 20px;
                background-color: red;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                position: absolute;
                right: -8px;
                top: -8px;
                font-size: 12px;
            }
        }
        .user{
            position: relative;
            &:hover .user-controls{
                display: flex;
            }
            .user-controls{
                cursor: pointer;
                position: absolute;
                top: 100%;
                right: 0;
                width: 200px;
                height: fit-content;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px,rgba(149, 157, 165, 0.2) 0px 8px 24px;
                padding: 16px;
                display: none;
                flex-direction: column;
                gap: 16px;
                background-color: #fff;
                border-radius: 8px;
                .heading{
                    color: #aaa;
                    text-transform: uppercase;
                    padding: 2px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #000;
                }
                .controls{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    span{
                        cursor: pointer;
                        &:hover{
                            color: #3EC4F1
                        }
                    }
                }
            }
            
        }
    }
}
.icon{
    transition-duration: .2s;
}
.icon:hover{
    transform: scale(1.2);
}
.icon:active{
    transform: scale(0.8);
}

.dark .navbar{
    background-color: #000;
    color: #fff;
    input{
        background-color: transparent;
        color: #fff;
        &::placeholder{
            color: #fff;
        }
    }
    .right_box{
        .count{
            background-color: #0BD0B6;
        }
        .user{
            .user-controls{
                background-color: #000;
                .heading{
                    border: 1px solid #ccc;
                }
            }
        }
    }
}