*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --color_primary: #444;
    --hover_color: #666;
    --active_color: #444;
    --height_nav: 50px;
    --width_sidebar: 20%;
}
ul{
    list-style: none;
}
input{
    border-style: ridge;
}
input:focus-within{
    outline: none;
}
.center_elemnt{
    margin: var(--height_nav) 0 0 var(--width_sidebar)
}
